<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
    <h1>
      Autoescuela Giachello. Tu escuela de manejo en Buenos Aires.
    </h1>
    <h3>
      Más de 20 años de experiencia.
    </h3>
    <h3>
      Más de 500 reseñas en google maps.
    </h3>
    <h3>
      (5 estrellas y reseñas de google maps)
    </h3>
    <div class="divTitle">
      <h3>
        Nuestros Servicios
      </h3>
      <h4>
        Querés sacar tu primera licencia de conducir?
      </h4>
      <h4>
        Cursos a domicilio, todos los días de 8:00 a 20:00. De una hora de duración
      </h4>
    </div>
    
    
    <c-row [gutter]="4" class="mb-3" [md]="3" [xs]="1">
      <c-col>
        <a href="/#/informacion" style="text-decoration: none;">
          <c-card class="h-100">
            <img cCardImg="top" class="cardImage" src="../../../assets/images/information.png">
            <c-card-body>
              <h5 cCardTitle>Material teórico</h5>
              <p cCardText>
                Clases practicas personalizadas, incluye traslado ida y vuelta.
              </p>
            </c-card-body>
          </c-card>
        </a>
      </c-col>
      <c-col>
        <c-card class="h-100">
          <img cCardImg="top" class="cardImage" src="../../../assets/images/neighborhood.png">
          <c-card-body>
            <h5 cCardTitle>Practica en calle</h5>
            <p cCardText>
              Clases practicas personalizadas, incluye traslado ida y vuelta.
              5 clases donde se practican todos los aspectos necesarios.
            </p>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col>
        <c-card class="h-100">
          <img cCardImg="top" class="cardImage" src="../../../assets/images/test.png">
          <c-card-body>
            <h5 cCardTitle>Acompañamiento a Examen</h5>
            <p cCardText>
              Clases practicas personalizadas, incluye traslado ida y vuelta.
            </p>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col>
        <c-card class="h-100">
          <img cCardImg="top" class="cardImage" src="../../../assets/images/highway-sign.png">
          <c-card-body>
            <h5 cCardTitle>Clases de Autopista</h5>
            <p cCardText>
              Clases practicas personalizadas, incluye traslado ida y vuelta.
            </p>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col>
        <c-card class="h-100">
          <img cCardImg="top" class="cardImage" src="../../../assets/images/pollution.png">
          <c-card-body>
            <h5 cCardTitle>Manejo Avanzado</h5>
            <p cCardText>
              Clases practicas personalizadas, incluye traslado ida y vuelta.
            </p>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col>
        <c-card class="h-100">
          <img cCardImg="top" class="cardImage" src="../../../assets/images/driving-test.png">
          <c-card-body>
            <h5 cCardTitle>Manejo Defensivo</h5>
            <p cCardText>
              Clases practicas personalizadas, incluye traslado ida y vuelta.
            </p>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </div>
  
  <c-card class="mb-1">
    <c-card-body breakpoint="md">
      <div class="divTitle">
        <h3 class="card-title mb-0">Nuestros Autos</h3>
      </div>
      <c-carousel >
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides">
            <img
              [src]="slide.src"
              alt="{{ slide.title }}"
              class="d-block w-100"
              style="height: 480px;"
              loading="lazy" 
              />
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel>
    </c-card-body>
  </c-card>
  
  <c-row>
    <c-col>
      <div style="display: flex;flex-wrap: wrap;">
        <div id="mapaDiv">
          <div id="mapaCelu">
            <div class="mapWrap">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4640.662547107034!2d-58.374205184318306!3d-34.668743096814666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd594c328ceb%3A0xc0a6fd1741f94c56!2sAutoescuela%20Giachello!5e0!3m2!1sen!2sus!4v1690666835285!5m2!1sen!2sus" 
              width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div id="mapaCompu">
            <div class="mapWrap">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4640.662547107034!2d-58.374205184318306!3d-34.668743096814666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd594c328ceb%3A0xc0a6fd1741f94c56!2sAutoescuela%20Giachello!5e0!3m2!1sen!2sus!4v1690666835285!5m2!1sen!2sus" 
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
        <div id="info">
          <div>
            <div class="divTitle">
              <h3>CONTACTANOS</h3>
            </div>
            <div class="iconWrap">
              <i class="fa fa-facebook" style="width: 15px; margin-right: 15px;"></i>
              <a href="https://www.facebook.com/autoescuela.giachello">
                <h4>Autoescuela Giachello</h4>
              </a>
            </div>
            <div class="iconWrap"> 
              <i class="fa fa-whatsapp my-float" style="width: 15px; margin-right: 15px;"></i>
              <a href="https://api.whatsapp.com/send?phone=5491121563916&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20curso%20de%20manejo.">
                <h4>5491121563916</h4>
              </a>
            </div>
            <div class="iconWrap">
              <i class="fa fa-envelope" style="width: 15px; margin-right: 15px;"></i>
              <a href="mailto:autoescuelagiachello@gmail.com">
                <h4>autoescuelagiachello@gmail.com</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </c-col>
  </c-row>
  
  <app-whats-app-floating></app-whats-app-floating>
</body>
</html>