@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@600&family=Roboto&display=swap');
@font-face {
  font-family: giachelloFont;
  src: url(../../../../scss/fonts/ARRUSK.ttf);
}

*{
  font-family: 'Roboto', sans-serif;
  color: #333f48;
}
.divTitle{
  text-align: center;
  margin-bottom: 10px;
  h1{
    font-weight: bolder;
    color: #2e3e68;
  }
}
.card-title{
  font-weight: bolder;
  color: #2e3e68;
}
.iconWrap{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

@media only screen and (min-width: 576px) {
  .title{
    font-family: 'Poppins', sans-serif;
    font-size:48px;
    text-align: center;
    display: inline;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .giachelloTitle{
    color: rgb(255,215,0);
    font-family: giachelloFont;
    font-size:48px;
    text-align: center;
    -webkit-text-stroke: 1.5px black; /* width and color */
    display: inline;
  }
  .cardImage{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #mapaCompu{
    display: block;
  }
  #mapaCelu{
    display: none;
  }
  .mapWrap{
    width: 100%;
    overflow: hidden;
  }
  #mapaDiv{
    width: 49%;
  }
  #info{
    width: 49%;
  }
}
@media only screen and (max-width: 576px) {
  #mapaCompu{
    display: none;
  }
  #mapaCelu{
    display: block;
  }
  .title{
    font-family: 'Poppins', sans-serif;
    font-size:48px;
    text-align: center;
    display: inline;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .giachelloTitle{
    color: rgb(255,215,0);
    font-family: giachelloFont;
    font-size:48px;
    text-align: center;
    -webkit-text-stroke: 1.5px black; /* width and color */
    display: inline;
  }
  .cardImage{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mapWrap{
    width: 100%;
    overflow: hidden;
  }
  #mapaDiv{
    width: 100%;
  }
  #info{
    width: 100%;
    margin: 10px;
  }
}