<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
    <c-carousel (itemChange)="onSlideChange($event)" [interval]="6000" transition="slide" class="slider">
      <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of slides">
          <div class="slide">
            <img
              [src]="slide.src"
              alt="{{slide.title}}"
              class="w-100"
              style="height: 480px;"
              loading="lazy"
            />
          </div>
          <h1 class="slide-text">{{slide.title}}</h1>
          <h2 class="slide-subtitle">{{slide.subtitle}}</h2>
        </c-carousel-item>
      </c-carousel-inner>
    </c-carousel>
    <h3>
      Más de 10 años de experiencia.
    </h3>
    <h3>
      Más de 100 reseñas en google maps.
    </h3>
    <h3>
      (poner 5 estrellas y reseñas de google maps)
    </h3>
    <div class="divTitle">
      <h3>
        Nuestros Servicios
      </h3>
      <h4>
        Querés sacar tu primera licencia de conducir?
      </h4>
      <h4>
        Cursos a domicilio, todos los días de 8:00 a 20:00. De una hora de duración
      </h4>
    </div>
    <div class="px-3">
      <c-row [gutter]="4" class="mb-3" [md]="3" [xs]="1">
        <c-col>
          <a href="/#/informacion" style="text-decoration: none;">
            <c-card class="h-100">
              <img cCardImg="top" class="cardImage" src="../../../assets/images/information.png">
              <c-card-body>
                <h5 cCardTitle>Material teórico</h5>
                <p cCardText>
                  Te brindamos el material teórico completo sobre normas viales, señales y decisiones seguras al conducir.
                </p>
              </c-card-body>
            </c-card>
          </a>
        </c-col>
        <c-col>
          <c-card class="h-100">
            <img cCardImg="top" class="cardImage" src="../../../assets/images/neighborhood.png">
            <c-card-body>
              <h5 cCardTitle>Practica en calle</h5>
              <p cCardText>
                En nuestras lecciones prácticas en la calle, te guiamos a través de situaciones reales de manejo para desenvolverte con confianza en las calles. 
              </p>
            </c-card-body>
          </c-card>
        </c-col>
        <c-col>
          <c-card class="h-100">
            <img cCardImg="top" class="cardImage" src="../../../assets/images/test.png">
            <c-card-body>
              <h5 cCardTitle>Acompañamiento a Examen</h5>
              <p cCardText>
                Incluye la posibilidad de utilizar nuestro vehículo para rendir el examen práctico.
              </p>
            </c-card-body>
          </c-card>
        </c-col>
        <c-col>
          <c-card class="h-100">
            <img cCardImg="top" class="cardImage" src="../../../assets/images/highway-sign.png">
            <c-card-body>
              <h5 cCardTitle>Clases de Autopista</h5>
              <p cCardText>
                Te permiten dominar las técnicas necesarias para conducir de manera segura y efectiva en autopistas y vías rápidas.
                Aprenderás a manejar cambios de carril, entrar y salir de rampas y mantener una velocidad constante.
              </p>
            </c-card-body>
          </c-card>
        </c-col>
        <c-col>
          <c-card class="h-100">
            <img cCardImg="top" class="cardImage" src="../../../assets/images/pollution.png">
            <c-card-body>
              <h5 cCardTitle>Manejo Avanzado</h5>
              <p cCardText>
                Perfecciona tus habilidades en situaciones desafiantes, desde estacionamiento preciso hasta maniobras complejas, preparándote para un manejo seguro y confiado en cualquier entorno.
              </p>
            </c-card-body>
          </c-card>
        </c-col>
        <c-col>
          <c-card class="h-100">
            <img cCardImg="top" class="cardImage" src="../../../assets/images/driving-test.png">
            <c-card-body>
              <h5 cCardTitle>Manejo Defensivo</h5>
              <p cCardText>
                Te equipa con técnicas esenciales para anticipar y evitar peligros en el día a día. Para que conduzcas con precaución y confianza en cualquier situación.
              </p>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </div>
    
  </div>
  
  <!-- <c-card class="mb-1">
    <c-card-body breakpoint="md">
      <div class="divTitle">
        <h3 class="card-title mb-0">Nuestros Autos</h3>
      </div>
      <c-carousel >
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides">
            <img
              [src]="slide.src"
              alt="{{ slide.title }}"
              class="d-block w-100"
              style="height: 480px;"
              loading="lazy" 
              />
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel>
    </c-card-body>
  </c-card> -->
  <app-whats-app-floating></app-whats-app-floating>
</body>
</html>