<div class="fade-in">
  <h1>Preparate para el examen teórico</h1>
  <div style="display: flex;">
    <div class="card">
      <h3>Señales de transito</h3>
      <a href="https://www.argentina.gob.ar/sites/default/files/ansv_licencias_libro_senales_de_transito.pdf">
        <img src="../../../assets/images/stop.png" >
      </a>
    </div>
    <div class="card">
      <h3>Preguntas categoría B</h3>
      <a href="https://firebasestorage.googleapis.com/v0/b/autoescuelagiachello-5f53e.appspot.com/o/se%C3%B1ales%2Fpreguntas_categoria_b.pdf?alt=media&token=0631343a-0bde-4bf4-8640-ebbede3bf21e">
        <img src="../../../assets/images/stop.png" >
      </a>
    </div>
    <div class="card">
      <h3>Manual del Conductor</h3>
      <a href="https://buenosaires.gob.ar/sites/default/files/2023-02/MANUAL%202023.pdf">
        <img src="../../../assets/images/stop.png" >
      </a>
    </div>
    <div class="card">
      <h3>Modelo de examen</h3>
      <a href="https://firebasestorage.googleapis.com/v0/b/autoescuelagiachello-5f53e.appspot.com/o/se%C3%B1ales%2Fmodelo_de_examen_b.pdf?alt=media&token=e055ffaf-be0e-4608-92d9-f94dcd9b4bed">
        <img src="../../../assets/images/stop.png" >
      </a>
    </div>
  </div>
  <!-- <h1 id="head">Señales Reglamentarias o Prescriptivas</h1>
  <div>
    <div>
      <h3>De prohibición</h3>
      <div class="wrapper">
        <img class="img1" src="https://firebasestorage.googleapis.com/v0/b/autoescuelagiachello-5f53e.appspot.com/o/se%C3%B1ales%2Fprohibicion1.png?alt=media&token=20b4d973-fa31-41e1-aab6-1ff013fdcc1a">
        <img class="img2" src="https://firebasestorage.googleapis.com/v0/b/autoescuelagiachello-5f53e.appspot.com/o/se%C3%B1ales%2Fprohibicion2.png?alt=media&token=8f2efda3-4690-4fc0-a087-284bdb083728">
      </div>
    </div>
    <div style="display: flex;">
      <div>
        <h3>De restricción</h3>
        <div class="wrapper">
          <img class="img1" src="https://firebasestorage.googleapis.com/v0/b/autoescuelagiachello-5f53e.appspot.com/o/se%C3%B1ales%2Frestriccion.png?alt=media&token=21e58d72-c54b-4b64-8d6a-a6e51291ec30">
        </div>
      </div>
      <div>
        <h3>De prioridad</h3>
        <div class="wrapper">
          <img class="img1" src="https://firebasestorage.googleapis.com/v0/b/autoescuelagiachello-5f53e.appspot.com/o/se%C3%B1ales%2Fprioridad.png?alt=media&token=4aa45b14-e188-4986-8a60-a0cae69a92e1">
        </div>
      </div>
    </div>
  </div> -->
</div>
