<div class="fade-in">
  <div style="text-align: center;margin: 10px;">
    <h1 class="title">Preparate para el examen teórico</h1>
  </div>
  <div class="wrapCards">
    <div class="card">
      <h3>Señales de transito</h3>
      <a href="https://www.argentina.gob.ar/sites/default/files/ansv_licencias_libro_senales_de_transito.pdf">
        <img src="../../../assets/images/stop.png" >
      </a>
    </div>
    <div class="card">
      <h3>Preguntas categoría B</h3>
      <a href="https://firebasestorage.googleapis.com/v0/b/autoescuelagiachello-5f53e.appspot.com/o/se%C3%B1ales%2Fpreguntas_categoria_b.pdf?alt=media&token=0631343a-0bde-4bf4-8640-ebbede3bf21e">
        <img src="../../../assets/images/stop.png" >
      </a>
    </div>
    <div class="card">
      <h3>Manual del Conductor</h3>
      <a href="https://buenosaires.gob.ar/sites/default/files/2023-02/MANUAL%202023.pdf">
        <img src="../../../assets/images/stop.png" >
      </a>
    </div>
    <div class="card">
      <h3>Modelo de examen</h3>
      <a href="https://firebasestorage.googleapis.com/v0/b/autoescuelagiachello-5f53e.appspot.com/o/se%C3%B1ales%2Fmodelo_de_examen_b.pdf?alt=media&token=e055ffaf-be0e-4608-92d9-f94dcd9b4bed">
        <img src="../../../assets/images/stop.png" >
      </a>
    </div>
  </div>
  
  <app-exam></app-exam>
  <app-whats-app-floating></app-whats-app-floating>
</div>
