:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, #999);
    --scrollbar-track-color: var(--cui-body-color, #fff);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
 
}
@font-face {
  font-family: giachelloFont;
  src: url(../../../scss/fonts/ARRUSK.ttf);
}

.title{
  color: White;
  font-family: 'Poppins', sans-serif;
  font-size:32px;
  text-align: center;
  display: inline;
}
.giachelloTitle{
  color: rgb(255,215,0);
  font-family: giachelloFont;
  font-size:32px;
  text-align: center;
  -webkit-text-stroke: 2px black; /* width and color */
  display: inline;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@600&family=Roboto&display=swap');
.icon{
  font-family: 'Poppins', sans-serif;
}