@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@600&family=Roboto&display=swap');
@font-face {
  font-family: giachelloFont;
  src: url(../../../scss/fonts/ARRUSK.ttf);
}

*{
  font-family: 'Roboto', sans-serif;
}



@media only screen and (min-width: 576px) {
  .title{
    color: rgb(104, 163, 209);
    font-family: 'Poppins', sans-serif;
    font-size:48px;
    text-align: center;
    display: inline;
  }
  .giachelloTitle{
    color: rgb(255,215,0);
    font-family: giachelloFont;
    font-size:48px;
    text-align: center;
    -webkit-text-stroke: 2px black; /* width and color */
    display: inline;
  }
  .cardImage{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #mapaCompu{
    display: block;
  }
  #mapaCelu{
    display: none;
  }
  .mapWrap{
    width: 100%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 576px) {
  #mapaCompu{
    display: none;
  }
  #mapaCelu{
    display: block;
  }
  .title{
    color: rgb(104, 163, 209);
    font-family: 'Abril Fatface', cursive;
    font-size:56px;
    text-align: center;
    display: inline;
  }
  .giachelloTitle{
    color: rgb(255,215,0);
    font-family: 'Abril Fatface', cursive;
    font-size:56px;
    text-align: center;
    -webkit-text-stroke: 2px black; /* width and color */
    display: inline;
  }
  .subtitle{
    color: rgb(104, 163, 209);
    font-family: 'Abril Fatface', cursive;
    font-size:42px;
    text-align: center;
  }
  .cardImage{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mapWrap{
    width: 100%;
    overflow: hidden;
  }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}